<a href="https://colab.research.google.com/github/2303a52483/23CSBTB44/blob/main/2303A52483.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title Default title text

import pandas as pd
import numpy as np
d=pd.read_csv("/content/Churn_Modelling.csv")
print(d.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [ ]:
# @title Default title text
X=d.drop(['Exited','Surname'],axis=1)
mle_params={}
y=d["Exited"]
print("target:")
print(y.head())
print("shape:",y.shape)
print("features:")
print(X.head())

target:
0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64
shape: (10000,)
features:
   RowNumber  CustomerId  CreditScore Geography  Gender  Age  Tenure  \
0          1    15634602          619    France  Female   42       2
1          2    15647311          608     Spain  Female   41       1
2          3    15619304          502    France  Female   42       8
3          4    15701354          699    France  Female   39       1
4          5    15737888          850     Spain  Female   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

In [ ]:
# @title Default title text
S=X.replace({"Female":0,"Male":1,"France":0,"Spain":1,"Germany":2})
print(S.head())

   RowNumber  CustomerId  CreditScore  Geography  Gender  Age  Tenure  \
0          1    15634602          619          0       0   42       2
1          2    15647311          608          1       0   41       1
2          3    15619304          502          0       0   42       8
3          4    15701354          699          0       0   39       1
4          5    15737888          850          1       0   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

<ipython-input-8-f4d6de20bdb5>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  S=X.replace({"Female":0,"Male":1,"France":0,"Spain":1,"Germany":2})

In [ ]:
# @title Default title text
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(S, y , test_size=0.2, random_state=30)
print("X_train:",X_train)
print("X_test:",X_test)
print("Y_train:",y_train)
print("Y_train:",y_test)

X_train:       RowNumber  CustomerId  CreditScore  Geography  Gender  Age  Tenure  \
2182       2183    15724889          665          1       1   38       9
5766       5767    15740846          556          0       1   40       5
2439       2440    15586976          566          0       0   42       6
993         994    15782899          661          1       0   28       7
7426       7427    15790630          619          0       0   48       4
...         ...         ...          ...        ...     ...  ...     ...
4859       4860    15647111          794          1       0   22       4
919         920    15733114          552          1       1   45       9
500         501    15727688          555          1       1   32       4
4517       4518    15787051          750          1       0   39       7
5925       5926    15783477          706          2       0   39       8

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
2182       0.00              1          0               1         87412.74
5766  125909.85              1          1               1         95124.40
2439       0.00              1          1               0        180702.12
993    95357.49              1          0               0        102297.15
7426       0.00              1          0               0         18094.96
...         ...            ...        ...             ...              ...
4859  114440.24              1          1               1        107753.07
919        0.00              2          1               0         26752.56
500        0.00              2          1               1         54405.79
4517  119565.92              1          1               0         87067.73
5925  112889.91              1          0               1          6723.66

[8000 rows x 12 columns]
X_test:       RowNumber  CustomerId  CreditScore  Geography  Gender  Age  Tenure  \
8793       8794    15574554          537          2       1   66       8
1122       1123    15789955          698          2       1   56       1
1283       1284    15609510          669          0       1   45       7
9318       9319    15611786          668          1       0   69       9
7765       7766    15613427          683          2       0   49       7
...         ...         ...          ...        ...     ...  ...     ...
7142       7143    15654859          612          1       0   63       2
8826       8827    15570194          412          0       1   29       5
4553       4554    15763613          581          0       1   30       1
5795       5796    15565891          709          0       1   39       8
3797       3798    15669887          839          0       0   51       3

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
8793  103291.25              2          1               1        130664.79
1122  112414.81              2          0               0         93982.02
1283  149364.58              1          0               1        173454.07
9318       0.00              1          0               1        134483.07
7765  108797.63              2          0               0        140763.18
...         ...            ...        ...             ...              ...
7142  131629.17              2          1               0        122109.58
8826       0.00              2          0               0         12510.53
4553       0.00              2          1               0        199464.08
5795       0.00              2          1               0         56214.09
3797       0.00              1          1               1         69101.23

[2000 rows x 12 columns]
Y_train: 2182    0
5766    0
2439    1
993     0
7426    1
       ..
4859    0
919     0
500     0
4517    0
5925    0
Name: Exited, Length: 8000, dtype: int64
Y_train: 8793    0
1122    1
1283    0
9318    0
7765    0
       ..
7142    1
8826    0
4553    0
5795    0
3797    1
Name: Exited, Length: 2000, dtype: int64

In [ ]:
# @title Default title text
from sklearn.linear_model import LogisticRegression
ss = LogisticRegression()
mm=ss.fit(X_train,y_train)
print("coefficient:",mm.coef_)
print("intercept:",mm.intercept_)

coefficient: [[-1.91806742e-05 -4.53381782e-08 -1.74528634e-03  9.14213574e-05
  -5.72592741e-05  2.91347167e-03 -4.99245950e-05  4.85236948e-06
  -7.89263870e-07 -2.64027657e-06 -7.33339049e-05  3.75860187e-07]]
intercept: [1.73321555e-08]

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# @title Default title text
from sklearn.metrics import accuracy_score
y_pred = mm.predict(X_train)
print("accuracy:",accuracy_score(y_train, y_pred))

accuracy: 0.799875